a {
  text-decoration: none;
}

*{
  margin: 0;
  padding:0;
}

.clear {
  clear: left;
}

header {
  background-color: black;
  height: 95px;
  width: 100%;
  margin: 0;
  position: fixed;
}

.header-container {
  height: 100%;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.header-container img {
  display: block;
  padding-top: 20px;
  padding-left: 20px;
  float: left;
}

.header-menu {
  float: right;
  height: 100%;
}

.header-menu a {
  display: block;
  float: left;
  margin: 0 auto;
  font-weight: bold;
}

.top-about {
  color: rgb(255, 207, 0);
  padding: 35px 20px 0 20px;
}

.top-function {
  padding: 35px 50px 0 20px;
  color: rgb(255, 207, 0);
}

.top-contact {
  background-color: rgb(255, 207, 0);
  padding: 0 40px;
  line-height: 95px;
  color: black;
  transition: all 0.5s;
}

.top-contact:hover {
  background-color: rgba(241, 194, 23, 0.7);
  color: white;

}

.main {
  background-color: rgb(255, 207, 0);
  padding-bottom: 30px;
}

/*top*/

.top-wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}


/*belt*/
.top-belt {
  height: 100px;
  padding: 30px 0;
  width: 100%;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  /*transform: scale(2.0, 1.0);*/
}

.top-belt p {
  display: block;
  width: 100%;
}

.about-belt {
  height: 100px;
  padding: 30px 0;
  width: 100%;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  /*transform: scale(2.0, 1.0);*/
}

.function-belt {
  height: 100px;
  width: 100%;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  margin-top: 116px;
  /*transform: scale(2.0, 1.0);*/
}

.top-logo {
  background-color: black;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;

}

.about-wrapper {
  width: 98%;
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;

}

.outline-title {
  margin-bottom: 40px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.about-outline h2 {
  font-size: 32px;
  margin-top: 70px;
  line-height: 58px;
}

.about-outline span {
  background-color: black;
  color: rgb(255, 207, 0);
}

/*model*/

.model-container {
  background-color: white;
  border: solid;
  margin-top: 30px;
  line-height: 58px;
}

.model-container h2 {
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 32px;
}

.models {
  height: auto;
  width: 100%;
  padding: 20px 0;
}

.models h3 {
  border-bottom: dashed 2px black;
  font-size: 25px;
}

.models p {
  font-size: 13px;
}

.models h3 span {
  font-size: 14px;
}

.model-before {
  float: left;
  width: 46%;
  height: 100%;
  text-align: center;
  margin-left: 1%;
  margin-right: 3%;
}

.model-after {
  float: right;
  width: 46%;
  height: 100%;
  text-align: center;
  margin-left: 3%;
  margin-right: 1%;
}

.model-table {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.model-before-details {
  margin:0 auto 30px auto;
  border: solid;
  max-width: 465px;
}

.model-before-details p span {
  background-color: rgba(241, 194, 23, 0.7);
}


.model-after-details {
  margin:0 auto 30px auto;
  border: solid;
  background-color: rgba(241, 194, 23, 0.7);
  max-width: 465px;
}

.model-after-details p span {
  background-color: black;
  color: rgb(255, 207, 0);
}

.model-before img {
  width: 90%;
}

.model-after img {
  width: 77%;
}

.model-table img {
  width: 90%;
}


/*function*/

.function-wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.function-contents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
}

.function-contents h2 {
  font-size: 32px;
  margin-bottom: 68px;
}

.function-contents img {
  border-radius: 10px;
}

.contents {
  margin-top: 10px;
  margin-bottom: 110px;
  margin-left: 2%;
  margin-right: 2%;
  min-height: 20%
}

.function-01 {
  width: 52%;
  text-align: left;
}

.function-01 span {
  font-size: 12px;
}

.function-img1-1 {
  width: 40%;
  height: auto;
}

.function-img2-1 {
  width: 24%;
  height: auto;
}

.function-img2-2 {
  width: 24%;
  height: auto;
}

.function-02 {
  width: 40%;
}

.function-02 span {
  background-color: black;
  color:  rgb(255, 207, 0);
}

.function-img3-1 {
  width: 22%;
  height: auto;
}

.function-img3-2 {
  width: 14%;
  height: auto;
}

.function-03 {
  width: 52%;
}

.function-03 span {
  background-color: black;
  color:  rgb(255, 207, 0);
}

.function-04 {
  width: 36%;
}

.function-04 span {
  background-color: black;
  color:  rgb(255, 207, 0);
}

.function-img4-1 {
  width: 26%;
  height: auto;
}

.function-img4-2 {
  width: 26%;
  height: auto;
}

.function-05-1 {
  width: 36%;
}

.function-05-1 span {
  background-color: black;
  color:  rgb(255, 207, 0);
}

.function-05-2 {
  width: 56%;
}

.function-img5-1 {
  width: 90%;
}

.function-img5-2 {
  width: 90%;
}

/*contact*/
.contact-wrapper {
  text-align: center;
  margin: 0 auto;
  width: 98%;
  max-width: 1600px;

}

.contact-container {
  border: solid;
}

.contact-container h2 {
  margin-top: 60px;
}

.phone-number {
  width: 50%;
  float: left;
  max-width: 560px;
  margin-top: 92px;
}

.phone-number img {
  float: left;
}

.phone-number p {
  width: 85%;
  float: right;
  font-size: 50px;
  font-weight: 900;
}

.mail-adress {
  width: 50%;
  float: right;
  max-width: 560px;
  margin-top: 92px;
}

.mail-adress img {
  float: left;
}

.mail-adress p {
  width: 85%;
  float: right;
  font-size: 32px;
  font-weight: 900;
}

.person-in-charge {
  max-width: 180px;
  margin: 40px auto 60px auto;
}

.person-in-charge img {
  float: left;
  font-weight: 900;
}

.person-in-charge p {
  float: right;
  font-weight: 900;
  line-height: 78px;
}

/*footer*/

footer {
  background-color: black;
  height: 130px;
}

.footer-container {
  color:  rgb(255, 207, 0);
  width: 98%;
  max-width: 1600px;
  margin: 0 auto;
}

.footer-left {
  float: left;
}

.footer-left a {
  color:  rgb(255, 207, 0);
}

.footer-left li {
  float: left;
  list-style-type: none;
  font-size: 14px;
  line-height: 116px;
  padding: 0 16px 0 16px;
}

.footer-right {
  float: right;
  height: 130px;
}

.footer-right p {
  display: inline;
  font-size: 14px;
  line-height: 116px;
}
